html{
    font-size: 62.5%;
    box-sizing: border-box;
    --red : rgb(221, 11, 11);
}

body{
    background: #cc2b5e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* ####### utility classes ############  */
.fade{
    background: linear-gradient(rgba(26, 25, 25, 0.226) ,rgba(26, 25, 25, 0.226));
    opacity: 0.8;

}


.game-area{
    background-color: rgb(240, 240, 240);
    width: 70rem;
    height: 40rem;
    border-radius: 1rem;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
}



.panel{
    width: 50%;
    text-align: center;
}

.left-panel{
   position: relative;
}


.player{
    font-size: 3rem;

}
.score{
    font-size: 6rem;
    color: rgb(221, 11, 11);
}

.current-score-panel{
    width: 40%;
    height:10rem;
    background-color: rgb(221, 11, 11);
    margin: auto;
    color: white;
    padding: 1rem 0;
    box-sizing: border-box;
    
}
.current-score-panel .text  {
    font-size: 2rem;
    margin: 0;
    
}
.current-score{
    font-size: 4rem;
    margin: 1rem 0;
}


.btn-grad {background-image: linear-gradient(to right, #DCE35B 0%, #45B649  51%, #DCE35B  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 15px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
   position: absolute;
   z-index: 2;
   left: 40%;
   outline: none;
   border: none;
 }

 .btn-grad-hover:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
.btn-grad-hover:active{
    transform: translateY(1rem);
}
 .new-game{
     
 }
 .roll{
    top: 55%;
    left: 41%;
 }
 .hold{
    top:70%;
    left:44%;
 }
 .dice{
     position: absolute;
    top: 28%;
    left: 46%;
    z-index: 1;
 }

 #player-win {
    font-size: 5rem;
    font-weight: 900;
    color: deeppink;
    position: absolute;
    top: 0;
    left: 32%;
    z-index: 5;
    top: 1rem;
    left: 15rem;
 }

 /* ############### media quries #################  */
 @media (max-width:706px){
     
.game-area{

    width: 100%;
    height: 40rem;
    
}

#player-win {
    font-size: 4rem;
    top:4rem;
    
 }
 
 }
 @media (max-width:560px){
     
#player-win {
    font-size: 3.5rem;
    left:13rem;
}
.btn-grad{
    padding:1rem 1rem;
}
.dice{
    transform: translateX(-1.5rem);
    width: 5rem;
}
}
@media (max-width:508px){
     
#new-game-btn{
   top:-14%; 
}
}
@media (max-width:460px) {
    .left-panel .current-score-panel{
        transform: translate(-2rem,-2rem);
    }
   .right-panel .current-score-panel{
    transform: translate(2rem,-2rem);
   }
}
@media (max-width:427px) {
    .btn-grad{
        transform: translateX(-1.5rem);
    }
    .dice{
        transform: translateX(-1.5rem);
    }
}
@media (max-width:390px) {
    .btn-grad{
        transform: translateX(-1.5rem);
    }
    .dice{
        transform: translateX(-1.5rem);
        width: 4rem;
    }
}

@media (max-width:366px)
{
    .current-score-panel{
        height: 8rem;
    }
    .current-score-panel .text{
        font-size: 1.6rem;
        font-weight: 900;
    }
    .current-score{
        font-size: 3rem;
    }
}
